<nav class="navbar">
  <div class="nav-left">
    <a routerLink="/">Vedic Vastram</a>
  </div>

  <div class="nav-center">
    <input type="text" placeholder="Search kurtis..." [(ngModel)]="query"
           (input)="search.emit(query)">
  </div>

  <div class="nav-right">
    <ng-container *ngIf="role === 'BUYER'">
      <a routerLink="/buyer/products">Products</a>
      <a routerLink="/buyer/cart">🛒 Cart</a>
      <a routerLink="/buyer/orders">Orders</a>
      <a routerLink="/buyer/address">Address</a>
    </ng-container>

    <ng-container *ngIf="role === 'SELLER'">
      <a routerLink="/seller/dashboard">Dashboard</a>
      <a routerLink="/seller/add-product">Add Product</a>
      <a routerLink="/seller/my-products">My Products</a>
    </ng-container>

    <ng-container *ngIf="role === 'ADMIN'">
      <a routerLink="/admin/dashboard">Dashboard</a>
      <a routerLink="/admin/pending-sellers">Pending Sellers</a>
      <a routerLink="/admin/pending-products">Pending Products</a>
    </ng-container>

    <button *ngIf="auth.isLoggedIn()" class="btn" (click)="logout()">Logout</button>
    <a *ngIf="!auth.isLoggedIn()" routerLink="/login" class="btn">Login</a>
  </div>
</nav>
