.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 4%;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: rgba(0,0,0,0.1) 0px 2px 8px;
}

.nav-center input {
  width: 350px;
  border-radius: 8px;
  padding: 10px 14px;
  border: 1px solid #ccc;
}

.nav-right a, .nav-right button {
  margin-left: 20px;
  font-size: 15px;
}
